@font-face {
    src: url("./assets/fonts/Muli-Bold.ttf");
    font-family: MuliBold;
}

@font-face {
    src: url("./assets/fonts/Muli-BoldItalic.ttf");
    font-family: MuliBoldItalic;
}

@font-face {
    src: url("./assets/fonts/Muli-ExtraBold.woff");
    font-family: MuliExtraBold;
}

@font-face {
    src: url("./assets/fonts/Muli-Italic.ttf");
    font-family: MuliItalic;
}

@font-face {
    src: url("./assets/fonts/Muli-Regular.woff");
    font-family: MuliRegular;
}

@font-face {
    src: url("./assets/fonts/Muli-Semi-BoldItalic.ttf");
    font-family: MuliSemiBoldItalic;
}

/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuliRegular', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
}


/* Header */
.header {
    background-image: url(./assets/images/header/main-img.png);
    background-size: cover;
    height: 100vh;
}

/* header top */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px 120px 100px;
    border: 2px solid red;
}

.menu {
    border: 2px solid red;
}

.menu__list {
    list-style: none;
    font-family: MuliBold;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
}

.menu__link {
    color: #ffffff;
}

.menu__item:not(:last-child) {
    padding-right: 20px;
}

.header__logo {
    border: 2px solid red;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* header personal */
.header__personal::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    top: 50%;
    right: 164px;
    transform: translateY(-50%);
}

.personal__list {
    list-style: none;
    display: flex;
    border: 2px solid red;
}

.personal__list-item:not(:last-child) {
    padding-right: 47px;
}

.personal__link-cart {
    position: relative;
}

.personal__cart-count {
    border-radius: 50%;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 2;
    font-size: 1rem;
    color: #1e1e1e;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: -19px;
    right: -17px;
}

/* header social */
.social__list {
    list-style: none;
    display: flex;
    border: 2px solid red;
    margin-left: 130px;
}

.social__list-item {
    border-radius: 50%;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
}

.social__list-item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header content */
.header__content {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.btn {
    border-radius: 30px;
    border: none;
    font-family: MuliExtraBold;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.header__btn {
    max-width: 280px;
    width: 100%;
    height: 70px;
    padding: 0 40px 0 40px;
    border-radius: 35px;
    font-size: 2.4rem;
}

.btn--green-bg {
    background-color: #0aa566;
    position: relative;
}

.btn--green-bg::after,
.about__btn--orange-border::after,
.story__btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 30px;
    background-image: url(./assets/images/Arrow-orange.png);
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* Smoothies */
.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: MuliExtraBold;
    font-size: 5rem;
    color: #f7ae3b;
    border: 2px solid red;
}

.smoothies__title {
    margin: 110px 0 55px;
}

.text {
    font-size: 1.8rem;
    color: #1e1e1e;
}

.smoothies__text {
    max-width: 915px;
    width: 100%;
    line-height: 2;
    text-align: center;
}

.smoothies__text-bold {
    font-family: MuliExtraBold;
    font-size: 2.5rem;
    margin-top: 27px;
    color: #f2612d;
}

.smoothies__desc {
    max-width: 970px;
    width: 100%;
    margin: 60px 0 110px;
    display: flex;
    flex-wrap: wrap;
}

.smoothies__box {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}

.smoothies__box:nth-child(1) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(2) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(3) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(5) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(6) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(7) {
    border-right: 2px solid #f6edde;
}

/* About */
.about {
    background-color: #14826f;
    display: flex;
    padding: 65px 0 0 140px;
}

.about__desc {
    max-width: 680px;
    width: 100%;
    border: 2px solid red;
}

.about__title {
    font-family: MuliExtraBold;
    font-size: 5.5rem;
    color: #ffffff;
    margin-bottom: 70px;
}

.about__title--green {
    color: #cae941;
    position: relative;
}

.about__title--green::after {
    content: "";
    display: inline-block;
    position: absolute;
    max-width: 460px;
    width: 100%;
    height: 13px;
    background-image: url(./assets/images/about/Line.png);
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.about__list {
    list-style: none;
    margin: 0 0 50px 25px;
    font-size: 2.1rem;
    list-style-image: url(./assets/images/about/List\ about.png);
    border: 2px solid red;
}

.about__list-item {
    color: #ffffff;
    line-height: 2;
    padding-left: 22px;
}

.about__text {
    font-family: MuliExtraBold;
}

.about__img {
    margin-right: 140px;
    display: flex;
    transform: translateY(90px);
    border: 2px solid red;
}

.about__btn--orange-border {
    max-width: 380px;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    border: solid 2px #f8b231;
    background: transparent;
    font-size: 2.1rem;
    position: relative;
}

/* Products */
.products {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 25%;
    padding: 130px 0 80px 0;
}

.products__img {
    border: 2px solid red;
    margin-bottom: 35px;
}

.products__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MuliBold;
    font-size: 2.4rem;
    line-height: 1;
    color: #ffffff;
    border: 2px solid red;
}

.products__text-bold {
    font-family: MuliItalic;
    font-size: 2.1rem;
    line-height: 2;
    color: #ffffff;
    margin-bottom: 65px;
    border: 2px solid red;
}

.products--chocolate {
    background-color: #632b17;
}

.products--vegan {
    background-color: #178670;
}

.products--lemon {
    background-color: #f7ae3b;
}

.products--turmeric {
    background-color: #c3471b;
}

.products__btn--white-border {
    max-width: 200px;
    width: 100%;
    height: 60px;
    padding-left: 40px;
    border: solid 2px #ffffff;
    background: transparent;
    font-size: 2.1rem;
    position: relative;
}

.products__btn--white-border::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 30px;
    background-image: url(./assets/images/products/Arrow\ white.png);
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

/* Story */
.story {
    display: flex;
    justify-content: center;
    padding: 120px 160px;
    position: relative;
}

.story__somestory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 205px;
    border: 2px solid red;
}

.story__somestory::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 410px;
    height: 300px;
    background-image: url(./assets/images/story/Dots.png);
    bottom: -27%;
    right: 58px;
    z-index: 2;
}

.story__box {
    position: relative;
}

.story__box::before {
    content: "";
    position: absolute;
    width: 290px;
    height: 216px;
    background-image: url(./assets/images/story/story\ sticer.png);
    top: 5%;
    left: -156px;
}

.story__title {
    margin-bottom: 45px;
}

.story__text {
    max-width: 510px;
    width: 100%;
    line-height: 2;
    margin-bottom: 60px;
}

.story__btn {
    width: 300px;
    height: 60px;
    padding-left: 30px;
    font-size: 2.1rem;
    background-color: #0aa566;
    position: relative;
}

/* Testimonials */
.testimonials {
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    margin: 120px;
}

.testimonials__title--red {
    color: #f2612d;
}

.testimonials__box {
    display: flex;
    align-items: flex-end;
    z-index: 2;
}

.testimonials__wishes {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    position: relative
}

.testimonials__wishes::after {
    position: absolute;
    content: "Sarah A";
    font-family: MuliExtraBold;
    font-size: 20rem;
    color: rgba(82, 25, 5, 0.6);
    left: 45%;
    top: -18px;
    width: max-content;
    z-index: -1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.testimonials__text {
    max-width: 455px;
    width: 100%;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

.testimonials__text-orange {
    font-family: MuliSemiBoldItalic;
    color: #f7ae3b;
    font-size: 1.8rem;
    text-align: center;
}

.testimonials__img {
    z-index: 3;
}

.testimonials__btns {
    margin: 120px 80px;
    border: 2px solid red;
}

.testimonials__arrow {
    background: transparent;
    border: none;
    border: 2px solid red;
}

.testimonials__arrow:not(:last-child) {
    margin-right: 100px;
}

.testimonials__left {
    transform: rotate(180deg);
}

/* Blog */
.blog {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.blog__our {
    margin: 99px 60px 200px 0;
    /* border: 2px solid red; */
}

.blog__title {
    margin-bottom: 50px;
}

.blog__title--red {
    color: #f2612d;
    font-family: MuliExtraBold;
    font-size: 3rem;
    margin: 330px 0 20px 0;
    /* border: 2px solid red; */
}

.blog__promo::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 687px;
    height: 12px;
    border-radius: 5px;
    background-color: #f7ae3b;
    top: 34%;
    right: 326px;
    z-index: -1;
}

.blog__text {
    max-width: 490px;
    width: 100%;
    margin: 45px 0 0 63px;
    /* border: 2px solid red; */
}

.blog__text-bold {
    font-family: MuliBold;
}

/* Instagram */
.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}

.instagram__box {
    margin-bottom: 45px;
    display: flex;
    border: 2px solid red;
}

.instagram__link {
    color: #0aa566;
    font-family: MuliExtraBold;
    font-size: 2.4rem;
    border: 2px solid red;
}

.instagram__photo {
    display: flex;
    border: 2px solid red;
}

.photo__smoothies::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(./assets/images/instagram/inst-mini.png);
    bottom: 9%;
    right: 24px;
}

.photo__smoothies {
    flex: 0 1 20%;
    position: relative;
}

.photo__img {
    width: 100%;
    object-fit: cover;
}

/* Footer */
.footer__top {
    background-color: #f6ab3b;
    padding: 80px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid red;
}

.footer__logo {
    display: flex;
    align-items: center;
    margin-right: 295px;
    border: 2px solid red;
}

/* footer information */
.footer__title {
    font-family: MuliExtraBold;
    font-size: 2.6rem;
    margin-bottom: 40px;
    color: #ffffff;
    border: 2px solid red;
}

.footer__list {
    list-style: none;
    border: 2px solid red;
}

.footer__item {
    font-family: MuliBold;
    font-size: 1.8rem;
    line-height: 2;
    border: 2px solid red;
}

.footer__link {
    color: #6d450c;
}

/* footer payment */
.footer__payment {
    max-width: 260px;
    width: 100%;
}

.footer__payment-imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__img {
    margin: 0 19px 19px 0;
}

/* footer follow */
.footer__follow {
    position: relative;
    width: 495px;
    border: 2px solid red;
}

.footer__imput {
    font-family: MuliBold;
    font-size: 1.7rem;
    border-radius: 30px;
    max-width: 495px;
    width: 100%;
    height: 60px;
    padding-left: 65px;
    margin-bottom: 40px;
    border: 2px solid red;
}

.footer__social::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 19px;
    background-image: url(./assets/images/footer/iconImpyt.png);
    top: 40%;
    left: 26px;
}

.footer__social {
    margin-right: 52px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 2px solid red;
}

.footer__social::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 43px;
    background-image: url(./assets/images/footer/Arrow\ footer.png);
    top: 68%;
    right: 338px;
}

.footer__text-follow {
    font-family: MuliExtraBold;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-right: 50px;
    color: #6d450c;
    border: 2px solid red;
}

.footer__social-list {
    list-style: none;
    display: flex;
    border: 2px solid red;
}

.footer__social-item:not(:last-child) {
    padding-right: 25px;
}

/* footer bottom */
.footer-bottom {
    background-color: #6c2c1c;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.footer__text-time {
    font-size: 1.3rem;
    color: #af8a82;
    border: 2px solid red;
}

.footer__text-btn {
    font-family: MuliBold;
    font-size: 1.6rem;
    color: #ffffff;
    position: absolute;
    right: 100px;
    border: 2px solid red;
}

.footer__btn-go-top {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -48%;
    right: 44px;
    border-radius: 5px;
    background-color: #f2662f;
    border: none;
    z-index: 0;
}

/* Здесь будут медиа запросы */
/* на 768 */
/* @media screen and (max-width: 768px) { 

    html,
    body {
        font-size: 9px;
    }

    section {
        padding: 0 20px 0 20px;
    }

    .header__top {
        display: none;
    }

    .smoothies__title {
        margin: 30px 0 20px;
    }

    .smoothies__desc {
        margin: 50px 0 50px;
    }

    .about {
        flex-direction: column;
        padding: 0;
    }

    .about__img {
        margin: 30px 15px;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    .about__desc {
        margin-left: 50px;
    }

    .about__title {
        margin-bottom: 40px;
    }

    .about__list {
        margin: 0 0 35px 33px;
    }

    .about__btn--orange-border {
        margin: 0 25px 50px;
    }

    .products {
        overflow-x: auto;
    }

    .product {
        flex: 1 0 64%;
        padding: 50px 0 47px 0;
    }

    .products__text-bold {
        margin-bottom: 28px;
    }

    .story {
        flex-direction: column;
        padding: 0 15px;
    }

    .story__somestory {
        margin: 35px;
    }

    .story__somestory::after {
        content: none;
    }

    .story__title {
        margin-bottom: 30px;
    }

    .story__text {
        margin-bottom: 30px;
    }

    .story__box {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 24px;
    }

    .story__box::before {
        left: -7px;
    }

    .story__img {
        width: 62%;
    }

    .testimonials__title {
        margin: 54px;
    }

    .testimonials__wishes::after {
        font-size: 16rem;
        left: 63%;
        top: -18px;
    }

    .testimonials__btns {
        margin: 52px 57px;
    }

    .blog {
        flex-wrap: wrap;
    }

    .blog__our {
        margin: 50px 0 0;
    }

    .blog__title {
        margin-bottom: 30px;
    }

    .blog__img {
        width: 100%;
    }

    .blog__promo::after {
        content: none;
    }

    .blog__title--red {
        margin: 13px 0 15px;
    }

    .blog__date {
        font-size: 11px;
    }

    .blog__text {
        margin: 22px 0 50px 0;
        line-height: 1.4;
        letter-spacing: 1.5px;
    }

    .instagram__box {
        margin-bottom: 30px;
    }

    .instagram__photo {
        overflow-x: auto;
    }

    .photo__smoothies {
        flex: 1 0 80%;
    }
    .footer__top {
        padding: 55px 90px;
    }
    .footer__logo {
        justify-content: center;
        flex-basis: 100%;
        margin: 0  0 50px;
    }
    .footer__information {
        width: 50%;
    }
    .footer__title {
        margin: 0 0 25px;
    }

    .footer__follow {
        margin-top: 58px;
    }

} */

@media screen and (max-width: 768px) {

    html,
    body {
        font-size: 7px;
    }

    section {
        padding: 0 15px 0 15px;
    }
    .header__top {
        display: none;
    }
    .smoothies__title {
        margin: 30px 0 20px;
        text-align: center;
    }

    .smoothies__desc {
        margin: 30px 0 0;
    }

    .smoothies__box {
        flex-basis: 50%;
        height: 121px;
    }

    .smoothies__box:nth-child(5) {
        border-bottom: 2px solid #f6edde;
    }

    .smoothies__box:nth-child(6) {
        border-bottom: 2px solid #f6edde;
        border-right: none;
    }

    .smoothies__box:nth-child(2) {
        border-right: none;
    }

    .smoothies__text-bold {
        margin-top: 10px;
    }

    .about {
        flex-direction: column;
        padding: 0;
    }

    .about__img {
        margin: 30px 15px;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    .about__title {
        margin: 20px;
        text-align: center;
    }

    .about__list {
        padding: 10px;
        margin: 0 0 20px 30px;
    }

    .about__list-item {
        padding-left: 7px;
    }

    .about__btn--orange-border {
        margin: 0 25px 30px;
        max-width: 305px;
    }

    .products {
        overflow-x: auto;
        padding: 0;
    }

    .product {
        flex: 1 0 94%;
        padding: 35px 0 35px 0;
    }

    .products__text-bold {
        margin-bottom: 25px;
    }

    .story {
        flex-direction: column;
        padding: 0 15px;
    }

    .story__somestory {
        margin: 0 0 30px;
    }

    .story__somestory::after {
        content: none;
    }

    .story__box::before {
        content: none;
    }
    .story__title {
        margin: 30px 0 30px 0;
    }
    .story__text {
        margin-bottom: 30px;
    }

    .story__img {
        width: 100%;
    }

    .testimonials__title {
        margin: 40px 16px;
        text-align: center;
    }

    .testimonials__box {
        flex-direction: column;
        align-items: center;
    }

    .testimonials__wishes::after {
        font-size: 82px;
        left: 170px;
        top: 94px;
    }

    .testimonials__wishes {
        margin: 0;
    }

    .testimonials__text-orange {
        margin-bottom: 23px;
    }

    .testimonials__img {
        max-width: 140px;
        width: 100%;
    }

    .testimonials__btns {
        margin: 20px 0px;
    }

    .blog {
        flex-wrap: wrap;
    }

    .blog__our {
        margin: 38px 0 0;
    }

    .blog__title {
        margin-bottom: 12px;
    }

    .blog__img {
        width: 100%;
    }

    .blog__promo::after {
        content: none;
    }

    .blog__title--red {
        margin: 18px 0 5px;
    }

    .blog__date {
        font-size: 11px;
        letter-spacing: 0.5px;
    }

    .blog__text {
        margin: 22px 0 35px 0;
        line-height: 1.4;
        /* letter-spacing: 1.5px; */
    }
.instagram {
    padding: 0;
}
    .instagram__box {
        margin-bottom: 0px;
    }

    .instagram__photo {
        overflow-x: auto;
    }

    .photo__smoothies {
        flex: 1 0 94%;
    }

    .footer__top {
        padding: 36px 15px;
    }
    .footer__logo {
        justify-content: center;
        flex-basis: 100%;
        margin: 0;
    }
    .footer__information {
        width: 50%;
    }
    .footer__title {
        margin: 30px 0 10px;
    }

    .footer__follow {
        margin-bottom: 25px;
    }

    .footer__imput {
        margin-bottom: 20px;
    }
    .footer__social {
        margin-right: 0px;
    }
    .footer__social::before {
        top: 47%;
    }

    .footer__social::after {
        content: none;
    }

    .footer-bottom {
        padding-left: 20px;
        justify-content: space-between;
    }
}

/* @media screen (min-width: 572px) and (max-width:769px) {
    html,
    body {
        font-size: 9px;
    }
} */