/* Здесь подключаем шрифты, используя правило @font-face*/
/* @font-face {
    font-family: MuliRegular; 
    src: url(./assets/fonts/Muli-Regular.woff); 
} */
@font-face {
    src: url("./assets/fonts/Muli-Bold.ttf");
    font-family: MuliBold;
}

@font-face {
    src: url("./assets/fonts/Muli-BoldItalic.ttf");
    font-family: MuliBoldItalic;
}

@font-face {
    src: url("./assets/fonts/Muli-ExtraBold.woff");
    font-family: MuliExtraBold;
}

@font-face {
    src: url("./assets/fonts/Muli-Italic.ttf");
    font-family: MuliItalic;
}

@font-face {
    src: url("./assets/fonts/Muli-Regular.woff");
    font-family: MuliRegular;
}

@font-face {
    src: url("./assets/fonts/Muli-Semi-BoldItalic.ttf");
    font-family: MuliSemiBoldItalic;
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/



/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Header */
.header {
    background-image: url(./assets/images/header/main-img.png);
    background-size: cover;
    height: 100vh;
}

/* header top */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px 120px 100px;
    border: 2px solid red;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu {
    border: 2px solid red;
}

.menu__list {
    list-style: none;
    font-family: MuliBold;
    font-size: 16px;
    display: flex;
}

.menu__link {
    color: #ffffff;
    padding-right: 20px;
}

.header__logo {
    border: 2px solid red;
}

/* header personal */
.personal__list {
    list-style: none;
    display: flex;
    border: 2px solid red;
}

.personal__list-item:not(:last-child) {
    padding-right: 47px;
}

.personal__cart-count {
    border-radius: 50%;
    background-color: #ffffff;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
}

/* header social */
.social__list {
    list-style: none;
    display: flex;
    border: 2px solid red;
    margin-left: 130px;
}

.social__list-item {
    border-radius: 50%;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list-item:not(:last-child) {
    margin-right: 10px;
}

/* header content */
.header__content {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.btn {
    border-radius: 30px;
    border: none;
    font-family: MuliExtraBold;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.header__btn {
    width: 280px;
    height: 70px;
    padding: 0 40px 0 40px;
    border-radius: 35px;
    font-size: 24px;
}

.btn--green-bg {
    background-color: #0aa566;
}

/* Smoothies */
.smoothies {
    padding: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: MuliExtraBold;
    font-size: 50px;
    color: #f7ae3b;
    border: 2px solid red;
}

.smoothies__title {
    margin-bottom: 55px;
}

.text {
    font-family: MuliRegular;
    font-size: 18px;
    color: #1e1e1e;
    border: 2px solid red;
}

.smoothies__text {
    width: 915px;
    line-height: 2;
    text-align: center;
}

.smoothies__text-bold {
    font-family: MuliExtraBold;
    font-size: 25px;
    margin-top: 27px;
    color: #f2612d;
}

.smoothies__desc {
    width: 970px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
}

.smoothies__box {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    border: 2px solid red;
}

/* About */
.about {
    background-color: #14826f;
    display: flex;
    padding: 65px 0 0 140px;
}

.about__desc {
    width: 680px;
    border: 2px solid red;
}

.about__title {
    font-family: MuliExtraBold;
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 70px;
    border: 2px solid red;
}

.about__title--green {
    color: #cae941;
}

.about__list {
    list-style: none;
    margin: 0 0 50px 25px;
    font-family: MuliRegular;
    font-size: 21px;
    list-style-image:url(./assets/images/about/List\ about.png);
    border: 2px solid red;
}

.about__list-item {
    color: #ffffff;
    line-height:2;
    padding-left:22px;
}
.about__text {
    font-family: MuliExtraBold;
}
.about__img {
    margin-right: 140px;
    border: 2px solid red;
}

.about__btn--orange-border {
    width: 380px;
    height: 60px;
    padding-left: 30px;
    border: solid 2px #f8b231;
    background: transparent;
    font-size: 21px;
}

/* Products */
.products {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 130px 0 80px 0;
}

.products__img {
    border: 2px solid red;
    margin-bottom: 35px;
}

.products__title {
    font-family: MuliBold;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    border: 2px solid red;
}

.products__text-bold {
    font-family: MuliItalic;
    font-size: 21px;
    line-height: 2;
    color: #ffffff;
    margin-bottom: 65px;
    border: 2px solid red;
}

.products--chocolate {
    background-color: #632b17;
}
.products--vegan {
    background-color: #178670;
}
.products--lemon {
    background-color: #f7ae3b;
}
.products--turmeric {
    background-color: #c3471b;
}

.products__btn--white-border {
    width: 200px;
    height: 60px;
    padding-left: 40px;
    border: solid 2px #ffffff;
    background: transparent;
    font-size: 21px;
}

/* Story */
.story {
    display: flex;
    justify-content: center;
    padding: 120px 160px;
}

.story__somestory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 205px;
    border: 2px solid red;
}
.story__title {
    margin-bottom: 45px;
}
.story__text {
    width: 510px;
    line-height: 2;
    margin-bottom: 60px;
}

.story__btn {
    width: 300px;
    height: 60px;
    padding-left: 30px;
    font-size: 21px;
    background-color: #0aa566;
}

/* Testimonials */
.testimonials {
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials__title {
    margin: 120px;
}
.testimonials__title--red {
    color: #f2612d;
}

.testimonials__box {
    display: flex;
    align-items: flex-end;
    border: 2px solid red;

}
.testimonials__wishes {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    border: 2px solid red;
}

.testimonials__text {
    width: 455px;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.testimonials__text-orange {
    font-family: MuliSemiBoldItalic;
    color: #f7ae3b;
    font-size: 18px;
    text-align: center;
}
.testimonials__btn {
    margin: 120px 80px;
    border: 2px solid red;

}
.testimonials__arrows {
    background: transparent;
    border: none;
    padding-left: 100px;
    border: 2px solid red;
}

/* Blog */
.blog {
    display: flex;
    justify-content: center;
}
.blog__our {
    padding:99px 60px 200px 0;
    border: 2px solid red;
}
.blog__title {
    margin-bottom: 50px;
} 

.blog__title--red {
    color: #f2612d;
    font-family: MuliExtraBold;
    font-size: 30px;
    margin-top: 330px;
    border: 2px solid red;
}
.blog__promo {
    border: 2px solid red;

}
.blog__text {
    width: 470px;
    margin: 80px 0 0 63px;
}
.blog__text-bold {
    font-family: MuliBoldItalic;
}
/* Instagram */
.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;

}
.instagram__box {
    margin-bottom: 45px;
    border: 2px solid red;

}

.instagram__link {
    color: #0aa566;
    font-family: MuliExtraBold;
    font-size: 24px;
    border: 2px solid red;

}
.instagram__photo {
    display: flex;
    border: 2px solid red;

}
/* Footer */
.footer__top {
    background-color: #f6ab3b;
    padding: 80px 90px;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.footer__logo {
    display: flex;
    align-items: center;
    margin-right: 295px;
    border: 2px solid red;
}
/* footer information */
.footer__title {
    font-family: MuliExtraBold;
    font-size: 26px;
    margin-bottom: 40px;
    color: #ffffff;
    border: 2px solid red;
}
.footer__list {
    list-style: none;
    border: 2px solid red;
}
.footer__item {
    font-family: MuliBold;
    font-size: 18px;
    line-height: 2;
    border: 2px solid red;
}
.footer__link {
    color: #6d450c;
}

/* footer payment */

.footer__payment {
    width: 200px;
}

/* footer follow */
.footer__imput {
    font-family: MuliBold;
    font-size: 17px;
    border-radius: 30px;
    width: 495px;
    height: 60px;
    color: #6d450c;
    padding-left: 65px;
    margin-bottom: 40px;
    border: 2px solid red;
}
.footer__text-follow {
    font-family: MuliExtraBold;
    font-size: 18px;
    color: #6d450c;
    display: flex;
    justify-content: center;
    border: 2px solid red;
}
.footer__social {
    list-style: none;
    display: flex;
    border: 2px solid red;
}
/* footer bottom */
.footer-bottom {
    background-color: #6c2c1c;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.footer__text-time {
    font-family: MuliBold;
    font-size: 13px;
    color: #af8a82;
    border: 2px solid red;
}
.footer__text-btn {
    font-family: MuliRegular;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid red;
}
/* Здесь будут медиа запросы */
