// main: ./../main.less

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smoothies__title {
    margin: 110px 0 55px;
}
.smoothies__text {
    max-width: 915px;
    width: 100%;
    line-height: 2;
    text-align: center;
}

.smoothies__text-bold {
    font-family: MuliExtraBold;
    font-size: 2.5rem;
    margin-top: 27px;
    color: #f2612d;
}

.smoothies__desc {
    max-width: 970px;
    width: 100%;
    margin: 60px 0 110px;
    display: flex;
    flex-wrap: wrap;
}

.smoothies__box {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}

.smoothies__box:nth-child(1) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(2) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(3) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(5) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(6) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(7) {
    border-right: 2px solid #f6edde;
}