// main: ./../main.less

/* Header */
.social {
    &__list {
        list-style: none;
        display: flex;
        border: 2px solid red;
        margin-left: 130px;
    }

    &__list-item {
        border-radius: 50%;
        background-color: #ffffff;
        width: 35px;
        height: 35px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
